<%= render "partials/notice_alert" %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <%= image_tag @user.avatar_url,:class=>"img img-responsive img-round" if @user.avatar?  %>
        <h1 class="text-center lead"> <%= @user.first_name %> <%= @user.last_name %>  <small>[ Profile ]</small></h1>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Personal Information</h3>
            </div>
            <div class="panel-body">
              <ul class="list-group">
              <li class="list-group-item"><strong>Name:</strong> <%= @user.title %>. <%= @user.first_name %> <%= @user.last_name %></li>
              <li class="list-group-item"><strong>Date Of Birth:</strong> <%= @user.date_birth %>-<%= @user.month_birth %>-<%= @user.year_birth %></li>
              <li class="list-group-item"><strong>About Me:</strong> <%= @user.about %></li>
              <li class="list-group-item"><strong>Email:</strong> <%= @user.email %></li>
                <% if @user.personal_site %>
                  <li class="list-group-item"><strong>Personal Site: </strong> <%= @user.personal_site %></li>
                <% end %>
              </ul>

            </div>
          </div>

          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Skills of <%= @user.first_name %></h3>
            </div>
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item"><strong>Skill Set:</strong> <%= @user.skill_set %></li>
                <li class="list-group-item"><strong>Experience Time Period: </strong> <%= @user.experience_time %> Years</li>
                <li class="list-group-item"><strong>Github Link: </strong> <%= link_to @user.github_url , @user.github_url , target: '_blank'%></li>
                <li class="list-group-item"><strong>LinkedIn Url:</strong> <%= link_to @user.linked_in_url , @user.linked_in_url , target: '_blank' %></li>
                <li class="list-group-item"><strong>CV:</strong> <%= link_to "CV Link of #{@user.first_name}" , @user.cv_url , :target=>"_blank" , :class=> "btn btn-primary" %></li>
              </ul>

            </div>
          </div>


          <%= link_to 'Edit', edit_user_path(@user) , :class=>"btn btn-default" %>
          <%= link_to 'Back', users_path ,  :class=>"btn btn-info"%>

        </div>
      </div>
    </div>
  </div>
</div>
